@charset "UTF-8";

body {
  margin: 0;
  padding: 0;
  font-family: "Osaka", ;
}
.nav {
    background-color: #00aeef;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    display: flex;
}

.nav li {
    list-style: none;
}

.nav li a {
    display: block;
    width: 200px;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 2.8;
    background: #00aeef;
    text-decoration: none;
    border-right: 1px solid #eee;
    box-sizing: border-box;
}

.nav>li:hover>a {
    color: brown;
}

.nav li ul {
    width: 200px;
    display: none;
    margin-left: -40px;
    position: absolute;
}

.nav>li li:hover>a {
    color: gray;
}

.nav li ul li a {
    border-top: 1px solid #eee;
}

.content {
    width: 1200px;
    height: 150px;
    background: #eee;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}

h1 {
  color: #00aeef;
  font-size: 50px;
  font-family: serif;
  text-align: center;
  height: 320px;
  padding-top:0px;
  background-repeat: no-repeat;
  background-position: top center;
}

.title {
  font-size: 25px;
  border-left-style: solid;
  border-left-color: #000000;
    color: #000000;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.welcome {
  padding: 30px;
  background-color: #ffffff;
}

.welcome h2 {
  color: #00aeef;
  border-color: #00aeef;
}

.home {
  padding: 30px;
  background-color: #ffffff;
}

.home h2 {
  color: #00aeef;
  border-color: #00aeef;
}

.tuto {
  padding: 30px;
  background-color: #ffffff;
}

.tuto h2 {
  color: #00aeef;
  border-color: #00aeef;
}

.widget {
  padding: 30px;
  background-color: #ffffff;
}

.widget h2 {
  color: #00aeef;
  border-color: #00aeef;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

footer {
  text-align: center;
  color: #ffffff;
  background: #00aeef;
}