@charset "UTF-8";
/* すべての要素のmarginとpaddingを0に設定します */
* {
  margin: 0;/* 要素の外側の余白を0にする */
  padding: 0;/* 要素の内側の余白を0にする */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Osaka", ;/* フォントを指定する */
}

/* 全てのh1 */

h1 {
  color: #00aeef;/* フォントの色を指定する */
  font-size: 50px;/* フォントの大きさを指定する */
  font-family: serif;
  text-align: center;/* 文字・画像を中央にそろえる */
  height: 320px;/* 高さを指定する */
  padding-top:0px;
  background-repeat: no-repeat;/* 背景画像の繰り返しを指定する */
  background-position: top center;/* 背景画像の位置を指定する */
}

/* h2のclass title */

.title {
  font-size: 25px;
  border-left-style: solid;/* 枠線のスタイルを指定する */
  border-left-color: #000000;/* 枠線の色を指定する */
    color: #000000;
  border-left-width: 10px;/* 枠線の幅を指定する */
  padding-left: 15px;
  margin-bottom: 50px;
}

/* headerはここ */

header {
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
  height: 90px;
  padding-top: 30px;
}

/* navはここ */

nav {
  background-color: #00aeef;/* 背景色を指定する */
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  color: #ffffff;
  text-decoration: none;/* 文字の装飾を指定する */
}

nav a:hover {
  color: #006400;
}

ul {
  list-style-type: none;/* リストのマーカーを指定する */
  padding-left: 0;
}

nav ul {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
}

nav li {
  display: inline-block;/* 要素の表示形式を指定する */
  margin-right: 40px;
}

.welcome {
  padding: 30px;
  background-color: #ffffff;
}

.welcome h2 {
  color: #00aeef;
  border-color: #00aeef;
}



.home {
  padding: 30px;
  background-color: #ffffff;
}

.home h2 {
  color: #00aeef;
  border-color: #00aeef;
}




/* footerはここ */

footer {
  text-align: center;
  color: #ffffff;
  background: #00aeef;
}