@charset "UTF-8";

@font-face {
  /*フォントの名前*/
  font-family: "Noto Sans JP";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("./fonts/NotoSansJP-Regular.woff2") format("woff2");
}

@font-face {
  /*フォントの名前*/
  font-family: "Bizin Gothic Discord";
  /*フォントファイルへのパス（複数指定の場合、上から順に読み込まれる）*/
  src: url("./fonts/BizinGothicDiscord-Regular.woff2") format("woff2");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  color: #000;
}

.nav {
  background-color: #00aeef;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  display: flex;
}

.nav-left {
  margin-right: auto;
  border-right: 1px solid #eee;
}
.nav-right {
  border-left: 1px solid #eee;
}

.nav li {
    list-style: none;
}

.nav li a {
    display: block;
    width: 14em;
    height: 3em;
    text-align: center;
    color: #fff;
    font-size: 1em;
    line-height: 2.8;
    background: #00aeef;
    text-decoration: none;
    box-sizing: border-box;
}

.nav>li:hover>a {
    color: brown;
}

.nav li ul {
    width: 200px;
    display: none;
    margin-left: -40px;
    position: absolute;
}

.nav>li li:hover>a {
    color: gray;
}

.nav li ul li a {
  border-top: 1px solid #eee;
}

.content {
    width: 1200px;
    height: 150px;
    background: #eee;
    margin: 0 auto;
    padding: 10px;
    text-align: left;
    box-sizing: border-box;
}

h1 {
  color: #00aeef;
  font-size: 50px;
  font-family: serif;
  text-align: center;
  height: 320px;
  padding-top:0px;
  background-repeat: no-repeat;
  background-position: top center;
}

h3 {
  font-size: 20px;
}

table {
  border-collapse: collapse;
}

th, td {
  border: solid 1px;
  padding: 4px 16px;
}

.title {
  font-size: 25px;
  border-left-style: solid;
  border-left-color: #000000;
    color: #000000;
  border-left-width: 10px;
  padding-left: 15px;
  margin-bottom: 50px;
}

.welcome {
  padding: 30px;
  background-color: #ffffff;
}

.welcome h2 {
  color: #00aeef;
  border-color: #00aeef;
}

.home {
  padding: 30px;
  background-color: #ffffff;
}

.home h2 {
  color: #00aeef;
  border-color: #00aeef;
}

.main {
  padding: 30px;
  background-color: #ffffff;
}

.main h2 {
  color: #00aeef;
  border-color: #00aeef;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: "Bizin Gothic Discord", monospace;
    padding: 0 3px;
}

footer {
  text-align: center;
  color: #ffffff;
  background: #00aeef;
  padding: 0.1em 0;
}


#github-logo {
  width: 1.4em;
  height: 1.4em;
  display: inline-block;
  top: 0;
  bottom: 0;
  margin: auto;
}

#x-black {
  width: 1.2em;
  height: 1.2em;
  padding: 0.1em 0em;
  display: inline-block;
  top: 0;
  bottom: 0;
  margin: auto;
}

#sns-link {
  display: flex;
  gap: 0.2em;
  font-weight: bold;
  color: #000;
  text-decoration: none;
  padding: 0.3em 0.5em;
  line-height: 1.8em;
  margin-right: 0.4em;
}

#sns-link:hover {
  display: flex;
  gap: 0.2em;
  font-weight: bold;
  background-color: #e0f7fa;
  color: #005f8f;
  border-radius: 0.3em;
}
